<h1>Charge</h1>

<!-- below datetimepicker -->
<link rel="stylesheet" type="text/css" href="/styles/jquery.datetimepicker.css">
<script src="/js/jquery.datetimepicker.js"></script>

<!-- below tokenInput -->
<link rel="stylesheet" href="/styles/token-input.css" type="text/css">
<link rel="stylesheet" href="/styles/token-input-facebook.css" type="text/css">
<script src="/js/jquery.tokeninput.js"></script>

<form role="form" id="chargeForm" action="/charge/creaupdate" method="post">
	<% if (charge.id) { %>
		<input name="id" type="hidden" value="<%= charge.id %>">
	<% } %>
	
	<input type="hidden" name="userId" value="<%= charge.userId || '' %>" id="userId">
	<input type="hidden" name="userName" value="<%= charge.userName || '' %>" id="userName">
	
	<div class="form-group" id="userName-div">
		<label for="studentForm">Student ID or Name</label><br>
		<input id="studentForm" name="studentForm" type="text" required/>
		<p id="studentEmpty" class="bg-danger">Please input student.</p>
		<script type="text/javascript">
		$("#studentEmpty").hide();
    $(document).ready(function() {
			$("#studentForm").tokenInput("/user/search", {
				theme: "facebook",
				preventDuplicates: true,
				tokenLimit: 1,
				onAdd: function(item) {
					console.log('added item: '+JSON.stringify(item));

					$("#userName").val(item.name);
					$("#userId").val(item.id);
				},
				onDelete: function(item) {
					console.log('deleted item: '+JSON.stringify(item));
					$("#userName").val("");
					$("#userId").val("");
				}
			});
    });
		</script>
	</div>
	<style type="text/css" media="screen">
	$("#userName-div").hide();
	</style>
	
	<div class="form-group">
		<label for="amount">Amount</label><br>
		<input id="amount" name="amount" type="number" value="<%= charge.amount || '' %>" required>
	</div>
	<div class="form-group">
		<label for="timeAt">timeAt (Option, default NOW)</label><br>
		<input id="timeAt" name="timeAt" value="<%= charge.timeAt || '' %>">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">

$(":submit").click(function() {
	
});

// change format of timeAt datetime
var timeAt = $("#timeAt").val();
if (timeAt !='' ) {
	var time_formated = Date.format(timeAt, 'Y/m/d H:i');
	$("#timeAt").val(time_formated);
}

// datetime picker
$(function() {
  $( "#timeAt" ).datetimepicker({
  	format:'Y/m/d H:i',
  	step:30
  });
});
</script>