<h1><%= typeName %> List</h1>

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>gender</th>
			<th>credit</th>
			<th>email</th>
			<th>phone</th>
			<th>description</th>
			<th>ACTION</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i=0; i<users.length; ++i) { var u = users[i]; %>
		<tr>
			<td><a href="/user/prof/<%= u.id %>"><%- u.id %></a></td>
			<td><a href="/user/prof/<%= u.id %>"><%- u.name %></a></td>
			<td><%- u.sex %></td>
			<td><%- u.credit %></td>
			<td><%- u.email %></td>
			<td><%- u.phone %></td>
			<td><%- u.descr %></td>
			<td>
				<a href="/user/prof/<%- u.id %>" class="btn btn-default">PROFILE</a>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<a href="/user/new" class="btn btn-default">Create User</a>