<h1>Class</h1>

<!-- below datetimepicker -->
<link rel="stylesheet" type="text/css" href="/styles/jquery.datetimepicker.css">
<script src="/js/jquery.datetimepicker.js"></script>

<form role="form" id="classForm" action="/class/creaupdate" method="post">
	<% if (klass.id) { %>
		<input name="id" type="hidden" value="<%= klass.id %>">
	<% } %>
	<div class="form-group">
		<label for="name">Class Name (Max 20 chars)</label><br>
		<input id="name" name="name" type="text" value="<%= klass.name || '' %>" required>
	</div>

	<label for="startAt">Start At</label><br>
	<input type="datetime" id="startAt" name="startAt" value="<%= klass.startAt || '' %>" required>

	<div class="form-group">
		<label for="leng">Class Length (minutes)</label><br>
		<input id="leng" name="leng" type="number" min="1" max="480" value="<%= klass.leng || '' %>" required>
	</div>

	<div class="form-group">
		<label for="descr">Class Description</label><br>
		<textarea id="descr" name="descr" form="classForm" cols="50" rows="4" required><%= klass.descr || '' %></textarea>
	</div>

	<div class="form-group">
		<label for="status">Class Status</label><br>
		<select name="status">
			<% for (var key in Class.constants.STATUS) { var stat=Class.constants.STATUS[key]; %>
			<option value="<%= stat %>" <%if (stat==klass.status) {%> selected <%}%> ><%= key %></option>
			<% } %>
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">

	// change format of startAt datetime
	var startAt = $("#startAt").val();
	if (startAt !='' ) {
		var startAt_formated = Date.format(startAt, 'Y/m/d H:i');
		$("#startAt").val(startAt_formated);
	}
	
	// datetime picker
  $(function() {
    $( "#startAt" ).datetimepicker({
    	format:'Y/m/d H:i',
    	step:30
    });
  });
</script>