<h1>Classes</h1>

<table class="table" id="table">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>startAt</th>
			<th>length (min)</th>
			<th>description</th>
			<th>status</th>
			<th>ACTIONS</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i=0; i<klasses.length; ++i) { var c = klasses[i]; %>
		<tr>
			<td><%- c.id %></td>
			<td><%- c.name %></td>
			<td><div class="china_time"><%= c.startAt %></div</td>
			<td><%- c.leng %></td>
			<td><%- c.descr %></td>
			<td>
				<span class="classStatus" value="<%= c.status %>"><%= Class.constants.STAT_NUM[c.status] %></span>
			</td>
			<td>
				<a href="#class-<%= c.id %>" id="<%=i%>" class="showStudents btn btn-info">STUDENTS</a>
				<a href="/class/edit?id=<%- c.id %>" class="btn btn-default">EDIT</a>
				<a href="/class/destroy?id=<%- c.id %>" class="btn btn-danger">DELETE</a>
			</td>
		</tr>
		<tr class="students" id="class-<%= c.id %>">
			<td colspan=6>
				<div class="panel-body">
					
				</div>
			</td>
			<td class="action">
			</td>
		</tr>
		<% } %>
		<script type="text/javascript">
		$(".students").hide();	// hide the students row
		</script>
	</tbody>
</table>

<a href="/definition" class="btn btn-default">Create Class (To Definition List)</a>

<script type="text/javascript">
	// add colors for each status
	$(".classStatus[value=0]").addClass("label label-warning");		// init
	$(".classStatus[value=1]").addClass("label label-info");			// pending
	$(".classStatus[value=2]").addClass("label label-success");		// confirmed
	$(".classStatus[value=3]").addClass("label label-default");		// finished
	
	$(".showStudents").click(function() {
		var ref = this.href;
		var tgt = ref.replace(/.*#/,'#');
		var classId = tgt.replace(/#class-/,'');
		classId = parseInt(classId);
		console.log('classId: '+classId);
		
		$.get('/attendance/classmates?classId='+classId, function(attendances) {
			var html = "<ul>";
			for (var i=0; i<attendances.length; ++i) {
				var r = attendances[i];
				html += "<li>"+r.name+"</li>";
			}
			html += "</ul>";
			var tgtCnt = $(tgt+" div");
			tgtCnt.html(html);
			
			var tgtBtn = $(tgt+" .action");
			html = "<a href='/ACTION' class='btn btn-default'>Choose Student</a>"
			if (attendances.length) {	// attendance length > 0
				html = "<a href='/attendance/edit?classId="+classId+"' class='btn btn-default'>Edit Students</a>";
			} else {		// attendance length 0
				html = "<a href='/attendance/start?classId="+classId+"' class='btn btn-default'>Choose Students</a>"
			}
			tgtBtn.html(html);
			
			$(tgt).toggle();
		});
	});
</script>