<h1>Classes</h1>

<table class="table" id="table">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>startAt</th>
			<th>length (min)</th>
			<th>description</th>
			<th>status</th>
			<th>reply</th>
			<th>ACTIONS</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i=0; i<classes.length; ++i) { var c = classes[i]; %>
		<tr>
			<td><%- c.id %></td>
			<td><%- c.name %></td>
			<td><div class="china_time"><%= c.startAt %></div</td>
			<td><%- c.leng %></td>
			<td><%- c.descr %></td>
			<td>
				<span class="classStatus" value="<%= c.status %>"><%= Class.constants.STAT_NUM[c.status] %></span>
			</td>
			<td>
				<span class="classReply" value="<%= c.reply %>"><%= Attendance.constants.REPLY_NUM[c.reply] %></span>
			</td>
			<td>
				<% if (c.reply==Attendance.constants.REPLY.PENDING) { %>
					<a href="/attendance/reply/ok?classId=<%=c.id%>" class="btn btn-primary">Attend</a>
					<a href="/attendance/reply/refuse?classId=<%=c.id%>" class="btn btn-danger">Refuse</a>
				<% } else if (c.reply == Attendance.constants.REPLY.REFUSE) {%>
					<a href="/attendance/reply/ok?classId=<%=c.id%>" class="btn btn-primary">Attend</a>
				<% } %>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>