<h1>Class Definitions</h1>

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>length (min)</th>
			<th>condition</th>
			<th>description</th>
			<th>ACTION</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i=0; i<definitions.length; ++i) { var d = definitions[i]; %>
		<tr>
			<td><%- d.id %></td>
			<td><%- d.name %></td>
			<td><%- d.leng %></td>
			<td><%- d.cond %></td>
			<td><%- d.descr %></td>
			<td>
				<a href="/definition/edit?id=<%- d.id %>" class="btn btn-default">EDIT</a>
				<a href="/class/new?defId=<%- d.id %>" class="btn btn-primary">Create Class</a>
				<a href="/definition/destroy?id=<%- d.id %>" class="btn btn-danger">DELETE</a>
			</td>
		</tr>
		<% } %>
	</tbody>
</table>

<a href="/definition/new" class="btn btn-default">Create Definition</a>